
//-------------------------------------------
//	Colors
//-------------------------------------------


// Grayscale


$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);


// Branding


$blue: rgb(77, 96, 172);
$light-blue: rgb(191, 196, 218);
$orange: rgb(244, 124, 32);
$light-orange: rgb(248, 149, 32);
$dark-gray: rgb(35, 31, 32);
$gray: rgb(88, 89, 91);
$light-gray: rgb(167, 169, 172);


// Social


// $twitter: rgb(0, 0, 0);
// $facebook: rgb(0, 0, 0);
// $linkedin: rgb(0, 0, 0);
// $medium: rgb(0, 0, 0);
// $email: rgb(0, 0, 0);


// Share


// $share: rgb(0, 0, 0);
// $comment: rgb(0, 0, 0);
// $print: rgb(0, 0, 0);
